<article class="post">
  <h1>COMMENTS</h1>
  {{#each this}}
  <div class="title">
    <p>{{comment_text}}</p>
  </div>

  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
  </div>
  {{/each}}
</article>