{{> post-info post}}

{{#if loggedIn}}
<form class="edit-post-form">
  <div>
    <input name="title" value="{{post.title}}"></input>
  </div>
  <div>
    <textarea id="edit-body">{{post.description}}</textarea>
  </div>
  <div>
    <button type="submit">submit edit</button>
    <button class="delete-post-btn" type="submit">delete post</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}
<script src="/javascript/delete-post.js"></script>
{{/if}}